@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: #454040;
}

/* utility */
.BTN {
    padding-inline: 28px;
    padding-block: 14px;
    background-color: #F15543;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}

.BTN.secondary {
    background-color: transparent;
    border: 1.5px solid #F15543;
    color: #F15543;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

/* ======================== navbar ========================== */
.navbar {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
}

.navLinkAndUserActions {
    display: flex;
    gap: 90px;
}

/* ------- navLinks -------- */
.navLinks {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 14px;
    opacity: .8;
}

.navLinks a {
    text-decoration: none;
    color: #454040;
}

.navLinks a.active,
.navLinks a:hover {
    color: #F15543;
}

/* ------- userActions -------- */

.userActions {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}


/* ------ logo ------ */
.logo {
    height: 31px;
    width: 200px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* ================================================ hero ================================================= */
.hero {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-inline: 3rem;
    padding-block-start: 6rem;
    background-color: #f1544310;
    border-radius: 45px;
    margin-top: 1rem;
}

.heroImg {
    /* width: 585.35;
    height: 546.77; */
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: -22px;
}

.heroImg img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.heroInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heroInfo .titles {
    display: flex;
    flex-direction: column;
}

.titles .title1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.titles .title2 {
    font-size: 3rem;
    font-weight: 700;
    color: #F15543;
}

.titles .title3 {
    font-size: 2rem;
    font-weight: 600;
}

.subtitle {
    width: 500px;
}

.info {
    display: flex;
    gap: 10px;
    font-size: 10px;
    align-items: center;
    font-weight: 600;
}

.copright {
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.copright span {
    opacity: .7;
}

@media screen and (max-width: 768px) {

    /* ===================== Navbar =================== */
    .navbar{
        padding-inline: 20px;
        padding-top: 20px;
    }
    .logo {
        width: 300px;
    }
    /* navlinks */
    .navLinks{
        display: none;
    }
    /* .navLinks {
        position:fixed;
        top: 20px;
        right: 20px;
        width: 400px;
        border: 1px solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        background: #fff;
        opacity: 1;
        font-size: 2rem;
    }
    .navLink{
        border: 1px solid;
        width: 100%;
        padding-block:1rem;
        padding-inline: 10px;
    } */
    
    /* ===================== hero =================== */
    .hero {
        display: flex;
        flex-direction: column-reverse;
        background-color: transparent;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    /*---- heroimg ---- */
    .heroImg img {
        width: 700px;
        height: 700px;
        object-fit: contain;
    }

    /*---- heroInfo ---- */
    .heroInfo {
        align-items: center;
        gap: 2rem;
    }

    /* titles */
    .titles .title1 {
        font-size: 4.5rem;
    }
    .titles .title2 {
        font-size: 6rem;
    }
    .titles .title3 {
        font-size: 3.5rem;
    }
    /* subtitle */
    .subtitle{
        font-size: 1.5rem;
        line-height: 40px;
    }
    /* userActions */
    .userActions {
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 1.8rem;
    }
    /* buttons */
    .userActions .BTN{
        padding-inline: 50px;
        padding-block: 25px;
        border-radius: 10px;
    }
    .mobileMenu{
        background-color: #F15543;
    }
    .mobileMenu img{
        height: 30px;
    }
    .copright{
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}